In [2]:
import pandas as pd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
# establish a database connection
engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/lahman-baseball-data")
# Replace `<lahman_baseball_database_name>` with the actual name of your lahman baseball database as it appears in pgadmin

In [ ]:
# use the connection to run a query using pandas!
batting = pd.read_sql("SELECT * FROM batting;", con=engine)
batting.head()

### question 1 - a. Find all players in the database who played at Vanderbilt University.

In [ ]:
# import collegeplaying
collegeplaying = pd.read_sql("SELECT * FROM collegeplaying;", con=engine)
collegeplaying.head()

In [ ]:
# import people
people = pd.read_sql("SELECT * FROM people;", con=engine)
people.head()

In [ ]:
# import people
schools = pd.read_sql("SELECT * FROM schools;", con=engine)
schools.head()

In [ ]:
#import salaries df
salaries = pd.read_sql("SELECT * FROM salaries;", con=engine)
salaries.head()

In [ ]:
#merge collegeplaying, schools and people
vandy = people.merge(collegeplaying,on='playerid').merge(schools,on='schoolid')
vandy_sal = vandy.merge(salaries,on='playerid')
vandy_sal.head()

In [ ]:
vanderbilt=vandy_sal[vandy_sal['schoolname'].isin(['Vanderbilt University'])]
vanderbilt.head()

In [ ]:
vanderbilt['playerid'].nunique()
#24 vanderbilt players

In [ ]:
#count unique values
unique_numbers = set(list(vanderbilt['playerid']))
unique_numbers

### 1.b. Create a list showing each player’s first and last names as well as the total salary they earned in the major leagues.

In [ ]:
#merge collegeplaying and people
#vandy_salaries = pd.merge(vanderbilt, salaries, left_on = 'playerid', right_on = 'playerid', how = 'inner')
#vandy_salaries.tail()

In [ ]:
#player’s first, last names, total salary, schoolname
vandy_salaries = vanderbilt[['playerid', 'namefirst', 'namelast', 'salary', 'schoolname']].copy()
vandy_salaries

In [ ]:
#drop duplicates
vandy_salaries = vandy_salaries.drop_duplicates(subset='playerid', keep="first")
vandy_salaries

In [ ]:
#find total salary for each player
vu_total_salaries = vandy_salaries.groupby(['playerid','namefirst', 'namelast', 'schoolname']).sum().reset_index()
vu_total_salaries

### 1.c. Sort this list in descending order by the total salary earned.

In [ ]:
vu_salaries_desc= vu_total_salaries.sort_values(by=['salary'], ascending=False)
vu_salaries_desc

### d. Which Vanderbilt player earned the most money in the majors?

### David Price

### 2. Using the fielding table, group players into three groups based on their position: label players with position OF as "Outfield", those with position "SS", "1B", "2B", and "3B" as "Infield", and those with position "P" or "C" as "Battery".

In [ ]:
#import fielding table
fielding = pd.read_sql("SELECT * FROM fielding;", con=engine)
fielding.head()

In [ ]:
#fielding['position_group'] = 'x'
#fielding.head()

In [ ]:
fielding['position_group'] = ''
for ind, row in fielding.iterrows():
    if row['pos'] == 'OF':
            fielding.loc[ind, 'position_group'] = 'Outfield'
    elif row['pos'] == 'P' or row['pos'] == 'C':
        fielding.loc[ind, 'position_group'] ='Battery'
    else:
        fielding.loc[ind, 'position_group'] ='Infield'
fielding.head()

In [ ]:
fielding.tail()

### 2.b Determine the number of putouts made by each of these three groups in 2016.

In [ ]:
put_outs_by_group = fielding.groupby(['position_group']).sum().reset_index()
put_outs_by_group = put_outs_by_group[['position_group', 'po']].copy()
put_outs_by_group

### 3.a From 1970 – 2016, what is the largest number of wins for a team that did not win the world series?

In [ ]:
#import teams table
teams = pd.read_sql("SELECT * FROM teams;", con=engine)
teams.tail()

In [ ]:
teams.info()
#yearid is int64

In [ ]:
#isolate years 1970-2016
teams_years = teams.query('yearid>=1970 & yearid<=2016')
teams_years.head()

In [ ]:
teams_years = teams_years[['yearid', 'lgid','teamid','divid','rank','name','w','wswin','g']].copy()
teams_years.head()

In [ ]:
no_ws=teams_years[teams_years['wswin'].isin(['N'])]
no_ws = no_ws.sort_values(by=['w'], ascending=False)
no_ws.head()
#answer = Seattle 2001

### 3.b What is the smallest number of wins for a team that did win the world series?

In [ ]:
winner = teams_years[teams_years['wswin'].isin(['Y'])]
winner = winner.sort_values(by=['w'], ascending=True)
winner.head()
#answer = LA Dodgers 1981

### 3.c Doing this will probably result in an unusually small number of wins for a world series champion – determine why this is the case.

#### only played 110 games - strike that year

### 3.d Then redo your query, excluding the problem year.

In [ ]:
new_winner = teams_years[teams_years['wswin'].isin(['Y'])]
new_winner = new_winner.query('g>=160')
new_winner = new_winner.sort_values(by=['w'], ascending=True)
new_winner.head()
#answer = St. Louis Cardinals 2006

### 3.e How often from 1970 – 2016 was it the case that a team with the most wins also won the world series?